*{
    margin:0px}
.haat{
    width: 393.52px;
  height: 402.45px;
  position: absolute;
  top: 1px;
  right: 130px;
  text-align: end;
}
.Inspiring{
    width: 300px;
    height: 100px;
    top:83px;
    position: relative;
font-size: 22px;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: 25px;
left: 136px;

}
.footer{
    width: 100%;
height: 250px;

    background: var(--the-black, #282828);
}
.orn{
    background: var(--the-brown, #FFCD9E);
    width: 100%;
height: 400px;

margin-top: 0px;
}
.search{
    
}
.show{
   
color: #282828;

}